<div class="row">
  <div class="col-xs-4 custom" id="course-list">
  All. The. Courses.
    <ul>
      {{#each model as |course|}}
      {{#if course.id}}
        <li class="course-name">{{link-to course.title "courses.course" course}}</li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="col-xs-8">
    {{outlet}}
  </div>
</div>
