<div class="row">
  <div class="col-xs-4 custom" id="customer-list">
  All. The. Customers.
    <ul>
      {{#each model as |customer|}}
        <li class="customer-name">{{customer.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-xs-8">
    {{outlet}}
  </div>
</div>
