<div class="row">
  <div class="col-xs-3" id="studio-list">
  All. The. Studios.
    <ul>
      {{#each model as |studio|}}
        <li class="source-name">{{link-to studio.name 'studios.studio' studio}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-7" id="studio-show">
    {{outlet}}
  </div>
</div>
